/**
 * objects/_container.scss
 */

/* ==========================================================================
   Container
   ========================================================================== */

/**
 * Contain elements in an arbitrary width
 */

.container,
%container {
  max-width: $base-container-width;

  &--lrg {
    max-width: $base-container-width-lrg;
  }
}


/**
 * Full-width modifier
 */

.container--full,
%container--full {
  max-width: none;
}
