/**
 * objects/_wrapper.scss
 */

/* ==========================================================================
   Wrapper
   ========================================================================== */

/**
 * Size and position wrapper
 */

.wrapper {
  position: relative;
  padding: $base-spacing-unit;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  @include media-query(lap) {
    padding: 50px;
  }

  @include media-query(desk) {
    padding: 100px;
  }
}
