/**
 * generic/_buttons.scss
 */

/* ==========================================================================
   Buttons
   ========================================================================== */

/**
 * Base button styles
 */

.btn {
  @include font-size(36px);

  position: relative;
  display: inline-block;
  padding: 1em 1.5em;
  font-family: $font-secondary;
  background-color: transparent;

  &__corner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}


/**
 * Primary button
 */

.btn--primary {
  background-color: rgba(255,255,255,.1);
}
