/**
 * generic/_logo.scss
 */

/* ==========================================================================
   Main logo Element
   ========================================================================== */

/**
 * Logo
 */

.logo {
  position: relative;
  z-index: 1;

  &__image {
    max-width: 736px;
    width: auto;
    height: auto;
  }
}
