/**
 * generic/_introduction.scss
 */

/* ==========================================================================
   Introductory text
   ========================================================================== */

/**
 * Introduction
 */

.primary-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

